{{!-- <nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">StoryBooks</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">Public Stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav> --}}
<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo " style="">StoryBooks</a> 
        {{!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a> --}}
        <ul class="" >
            <li class="right"><a href="/auth/logout" style="font-weight: 500;font-size:medium;">Logout</a></li>
            <li class="right"><a href="/dashboard" style="font-weight: 500;font-size:medium;">Dashboard</a></li>
            <li class="right"><a href="/stories" class="" style="font-weight: 500;font-size:medium;">Public Stories</a></li>
            
        </ul>
    </div>
</nav>